@using Dragon.CMS.CMS.Controllers
@model Dragon.CMS.CMS.Controllers.NavigationItems
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Model.DisplayText <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        @Html.Partial("navbar-resolver", Model)
    </ul>
</li>