@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dragon.Security.Hmac</h1>
    <p class="lead">This demo project shows the usage of the Dragon.Security.Hmac module.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            See the README of the solution and this project for information about the integration.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Try it</h2>
        <p>The following is a valid link to the secured Contact page.
            <a class="btn btn-default" href='@string.Format("/Home/Contact/?{0}", ViewBag.QueryString)'>/Home/Contact &raquo;</a>
        </p>
    </div>
</div>