@model dynamic

@foreach (var article in Model.articles)
{
    var input = File.ReadAllText(Server.MapPath(ViewBag.RootPath + "/" + (string)article.file));
    var md = new MarkdownDeep.Markdown();
    string output = md.Transform(input);

    <h1>@article.title</h1>

    @Html.Raw(output)
}