<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Division42.NetworkTools" version="1.1.0" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net45" />
</packages>