@model Dragon.Web.Demo.CPR.DemoTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DemoTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DemoString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemoString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "Update", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
