@model IEnumerable<Dragon.Interfaces.IPermissionInfo>
<h2>Permission Test</h2>

<p>
Create or lookup PermissionIDs here: <a href="@Url.Action("Rights", "Context")">Context/Rights</a>
</p>

<b>@TempData["Error"]</b>   

@using (Html.BeginForm("Index", null, FormMethod.Post, new { id = "form0" }))                           // htmlAttributes))
{
    <div class="permission_test">
        <div class="permission_id"><label for="permission_id">PermissionID:</label>@Html.TextBox("permissionID")</div>
        <div class="submit"><input id="bt_submit" type="submit" value="Submit"/></div>
    </div>
}

@{
    Html.RenderPartial("~/Views/Shared/_Permissions.cshtml", Model);
}
