@inc(..\_Includes\_Header.html)
@inc(..\_Includes\_TableHeader.html)
<tr>
    <td valign="top" class="bodyContainer" id="templateBody">
       <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavDividerBlock">
            <tbody class="wavDividerBlockOuter">
                <tr>
                    <td class="wavDividerBlockInner">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- START TEXT BLOCK -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavTextBlock">
            <tbody class="wavTextBlockOuter">
                <tr>
                    <td valign="top" class="wavTextBlockInner">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="wavTextContentContainer">
                            <tbody>
                                <tr>
                                    <td valign="top" class="wavTextContent">
                                        <p>Hello {{recipient.fullname}}!
                                            <br><br>
                                                A password reset was issued for this email address, but it's not registered with us. Maybe you used an external service to authenticate (like Google, Facebook, Microsoft or Twitter)?<br><br>
                                                Please try to login with one of these external services.
                                                <br><strong>Still does not work?</strong>
                                                Please let us know at <a href="mailto:help@whataventure.com?subject=Invalid Password Reset">help@whataventure.com</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    <!-- END TEXT BLOCK -->
    </td>
</tr>
@inc(..\_Includes\_TableFooter.html)
@inc(..\_Includes\_Footer.html)