@using System.Linq
@model Dragon.Interfaces.ITreeNode<Guid, List<Dragon.Interfaces.IPermissionRight>>
@{
    var rights = string.Empty;

    if (Model.Data != null)
    {
        rights = string.Join(", ", Model.Data.Select(x => x.SubjectID.ToString() + "." + x.Spec + "(" + (x.Inherit ? "inherit" : "donotinherit") + ")").ToArray());
    }
}
<li>Node: @Model.Node.ToString() (@rights)</li>
<ul>
    @foreach (var sub in Model.Children)
    {
        @Html.Partial("_RightsNode", sub)
    }
</ul>
