@using Dragon.Context
@{
    ViewBag.Title = "Index";
}
<h2>
    Registration</h2>
 
<b>@TempData["Error"]</b>   

@using (Html.BeginForm("RegisterUsernameAndPassword", null, FormMethod.Post, null))
{
    <div class="registerForm">
        <div class="username"><label for="username">Username:</label>@Html.TextBox("username")</div>
        <div class="password"><label for="password">Password:</label>@Html.Password("password")</div>    
        <div class="submit"><input type="submit" value="Register"/></div>
    </div>
}
