@model IEnumerable<Dragon.Interfaces.ITreeNode<Guid, List<Dragon.Interfaces.IPermissionRight>>>
@{
    ViewBag.Title = "Rights";
}
<h2>
    Rights</h2>
<p>
    @Html.ActionLink("Add Rights", "AddRights")
</p>
@foreach (var item in Model)
{
    @Html.Partial("_RightsNode", item)
}