<!DOCTYPE html>
<html class="backend">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9999">
    <meta charset="utf-8" />
    <title>WhatAVenture - Guiding business ideas to success.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Turn your business idea into success. You have a business idea? The difference is to know how to turn a business idea into sucess. Our web tool guides you to success, step-by-step.">
    <meta name="author" content="WhatAVenture GmbH">

    <!--
    
        USES ASSETS FROM THE MAIN PLATFORM - Refreshes every 24h through the cache breaker. If changed faster, clear cache in Azure CDN.    
    
    -->
    <link rel="apple-touch-icon" sizes="114&#10006;114" href="//wav-prod-cdn-main.azureedge.net/assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72&#10006;72" href="//wav-prod-cdn-main.azureedge.net/assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" href="//wav-prod-cdn-main.azureedge.net/assets/favicons/touch-icon-iphone.png" />
    <link rel="shortcut icon" type="image/x-icon" href="//wav-prod-cdn-main.azureedge.net/assets/favicons/favicon.ico">

    <link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    <meta property="og:description" content="Turn your business idea into success. You have a business idea? The difference is to know how to turn a business idea into sucess. Our web tool guides you to success, step-by-step." />
    <meta property="og:image" content="//wav-prod-cdn-main.azureedge.net/assets/img/ci/logo_191px_90px.png?v=9.0.5996.11673" />
    @{ 
        var hour = DateTime.UtcNow.Date.Ticks;
    }
    <link rel="stylesheet" href="//wav-prod-cdn-main.azureedge.net/assets/css/application.css?v=@hour">
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="//wav-prod-cdn-main.azureedge.net/assets/css/base/ie-only.css?v=@hour" />
    <![endif]-->

</head>

<body id="login" class="">

    @RenderBody()

    <script>
        window.intercomSettings = {
            app_id: "mmv37yp6"
        };
    </script>
    <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/mmv37yp6'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()</script>

</body>
</html>
