@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Global.ErrorTitle;
}

<h1 class="text-danger">@Resources.Global.ErrorTitle</h1>
<h2 class="text-danger">@Resources.Global.ErrorText</h2>

