@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Global.LockedOutTitle;
}

<hgroup>
    <h1 class="text-danger">Resources.Global.LockedOutTitle</h1>
    <h2 class="text-danger">Resources.Global.LockedOutText</h2>
</hgroup>
