@model Dragon.SecurityServer.AccountSTS.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>
<h3>Already registered.</h3>

<hr />

<p class="text-info">
    You seem to have registered using another service.<br />
    @ViewBag.Message
    <br />
</p>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn btn-default">
            @Html.ActionLink("Back to login", "Login", "Account", (RouteValueDictionary) ViewBag.RouteValues, new Dictionary<string, object> {{"class", "form-horizontal"}, {"role", "form"}})
        </div>
    </div>
</div>
<br/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
