@{
    ViewBag.Title = Resources.Global.ForgotPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Resources.Global.ForgotPasswordConfirmation
    </p>
</div>
