@using Dragon.SecurityServer.AccountSTS.Models
@model IList<AppInfo>
@{
    ViewBag.Title = "Select app";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h4>Select the app you want to access.</h4>
            <hr />
            @foreach (var app in Model)
            {
                <p><a href="@app.Url">@app.Url</a></p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}