<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.56" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net45" />
  <package id="StackRedis.AspNet.Identity" version="1.0.4" targetFramework="net45" />
</packages>