@{
    ViewBag.Title = Resources.Global.UnauthorizedTitle;
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Html.Raw(Resources.Global.UnauthorizedInfo)
</p>
<p>
    @Resources.Global.TryAgain
</p>