@{
    ViewBag.Title = "Unauthorized";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Access to this page has been denied, possible causes include:
    <ul>
        <li>You tried to directly access this page, but usage is limited to the context of participating websites</li>
        <li>The link you used has expired</li>
        <li>Hmac parameters are missing or invalid</li>
    </ul>
    See <a href="https://github.com/aduggleby/dragon/tree/master/proj/Security.Hmac">Dragon.Security.Hmac</a> for further information.
</p>
<p>
    Please return to the previous website and try again.
</p>