@{
    ViewBag.Title = "Dragon.Diagnostics - Home";
}

<div class="jumbotron">
    <h1>Dragon.Diagnostics</h1>
    <p class="lead">Dragon.Diagnostics is a Windows tool which helps us to identify connectivity issues by collecting network related information about your system. No personal information is collected. You will be prompted to review the collected information before sending it to us.</p>
    <p><a href="/Dragon.Diagnostics.zip" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply download, extract, and run Dragon.Diagnostics.exe. A log file will be created which we kindly ask you to send back to us.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Requirements</h2>
        <p>The tool runs on Windows machines that have the .NET Framework 4.5 installed.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you experience any issues, drop us a line.</p>
    </div>
</div>