@{
    ViewBag.Title = "Dragon.Diagnostics - Home";
}

<div class="jumbotron">
    <h1>Dragon.Diagnostics</h1>
    <p class="lead">Dragon.Diagnostics is a Windows tool which dumps network related information about your system. No private information will be collected. You can review the collected information before sending it to us.</p>
    <p><a href="/Dragon.Diagnostics.exe" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply download and run. A log file will be created which we kindly ask you to send back to us.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you experience any issues, drop us a line.</p>
    </div>
</div>