<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="6.6.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="PGK.Extensions" version="2011.6" targetFramework="net40" />
  <package id="structuremap" version="3.0.4.125" targetFramework="net45" />
</packages>