                <tr>
                    <td align="center" valign="top">
                        <!-- BEGIN BODY // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                            <tr>
                                <td valign="top" class="bodyContainer">

                                    <!-- START DIVIDER BLOCK -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavDividerBlock BlockBackground">
                                        <tbody class="wavDividerBlockOuter">
                                            <tr>
                                                <td class="wavDividerBlockInner">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END DIVIDER BLOCK -->


                                    <!-- START GOODBYE BLOCK -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavTextBlock">
                                        <tbody class="wavTextBlockOuter">
                                            <tr>
                                                <td valign="top" class="wavTextBlockInner">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="wavTextContentContainer">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="wavTextContent-Center">
                                                                    <p class="wavGoodBye wavGoodByeBottom">Happy Innovating,
                                                                        <br> Your WhatAVenture Team</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END GOODBYE BLOCK -->


                                    <!-- Start Social Media-->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavFollowBlock mb20 mt20">
                                        <tbody class="wavFollowBlockOuter">
                                            <tr>
                                                <td width="150">&nbsp;</td>

                                                <td align="center" valign="middle" width="24" class="wavFollowIconContent">
                                                    <a href="https://www.facebook.com/WhatAVenture" target="_blank">
                                                        <img src="http://www.whataventure.com/sites/default/files/mails/facebook_outlined.png" alt="Facebook Logo" style="display:block;" height="24" width="24" class="">
                                                    </a>
                                                </td>


                                                <td align="left" valign="middle" class="wavFollowTextContent">
                                                    <a href="https://www.facebook.com/WhatAVenture" target="">Facebook</a>
                                                </td>



                                                <td align="center" valign="middle" width="24" class="wavFollowIconContent">
                                                    <a href="http://www.whataventure.com" target="_blank">
                                                        <img src="http://www.whataventure.com/sites/default/files/mails/simplehouse_outlined.png" alt="Website Logo" style="display:block;" height="24" width="24" class="">
                                                    </a>
                                                </td>


                                                <td align="left" valign="middle" class="wavFollowTextContent">
                                                    <a href="http://www.whataventure.com" target="">Website</a>
                                                </td>



                                                <td align="center" valign="middle" width="24" class="wavFollowIconContent">
                                                    <a href="https://twitter.com/WhatAVenture" target="_blank">
                                                        <img src="http://www.whataventure.com/sites/default/files/mails/twitter_outlined.png" alt="Twitter Logo" style="display:block;" height="24" width="24" class="">
                                                    </a>
                                                </td>


                                                <td align="left" valign="middle" class="wavFollowTextContent">
                                                    <a href="https://twitter.com/WhatAVenture" target="">Twitter</a>
                                                </td>
                                                <td width="150">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- // END SOCIAL MEDIA -->

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wavTextBlock footerContainer">
                                        <tbody class="wavTextBlockOuter">
                                            <tr height="1" style="background: #ECF0F1;">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="wavTextBlockInner">

                                                    <table align="left" border="0" cellpadding="15" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" class="footerContainer-small">
                                                                    <p style="color: #606060; font-family: Arial !important; font-size: 11px;  line-height: 140%; text-align: center; color: #b1b1b1;">
																	<em>Copyright © WhatAVenture, All rights reserved.</em>
                                                                    <br>WhatAVenture GmbH, Donau-City-Straße 6/2.OG/1, A-1220 Wien, +43 720 513 800, <a href="mailto:office@whataventure.com" style="ext-decoration: none; color: #b1b1b1;">office@whataventure.com</a>, <a href="http://www.whataventure.com" title="WhatAVenture" target="_blank" style="ext-decoration: none; color: #b1b1b1;">www.whataventure.com<br></a>
																	<span><a class="utilityLink" href="mailto:help@whataventure.com" style="text-decoration: none; color: #b1b1b1;">unsubscribe from this list</a> </span>
																</p>
                                                                   
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                </td>
                                            </tr>
										</tbody>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END CONTACT DETAILS -->
                    </td>
                </tr>
            </table>
            <!-- // END TEMPLATE -->
        </td>
    </tr>
</table>
</center>
