<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="dragon">
      <sectionGroup name="security">
        <section name="hmac" type="Dragon.Security.Hmac.Module.Configuration.DragonSecurityHmacSection, Dragon.Security.Hmac.Module" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\App_Data\db.mdf;Initial Catalog=db;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <dragon>
    <security>
      <hmac serviceId="00000001-0001-0001-0001-000000000001" connectionStringName="DefaultConnection" usersTableName="Users" appsTableName="Apps">
        <Paths>
          <add name="contact" path="/Home/Contact/*" type="Include" />
          <add name="default" path=".*" type="Exclude" />
        </Paths>
      </hmac>
    </security>
  </dragon>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
