@{
    ViewBag.Title = "Redirecting";
}
@{
    var parameters = new RouteValueDictionary(HttpContext.Current.Request.QueryString.Keys.Cast<string>()
                .ToDictionary(k => k, v => (object)HttpContext.Current.Request.QueryString[v]));

}
<!-- START Template Main -->
<section id="main" role="main" class="wav-login">
    <!-- START Template Container -->
    <section class="container" id="wav-home">


        <!-- START row -->
        <div class="row">
            <div class="wav-login-wrapper">

                <!-- Brand -->
                <div class="row wav-login-brand">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/logo-signup-small.png">
                </div>
                <div class="row wav-login-notebook">
                    <img src="//wav-prod-cdn-main.azureedge.net/assets/images/sso/laptop-signup.png">
                </div>


                <div class="flip-container">
                    <!-- START flipper -->
                    <div class="flipper">
                        <!-- START sign in -->
                        <div class="front wav-login-signin">
                            <div class="wav-panel panel">
                                <div class="panel-heading">
                                    <h1>Could not recognize which service you are coming from.</h1>
                                    <p class="subtext">We will redirect you to the WhatAVenture platform in just a moment.</p>
                                </div>
                                <div class="panel-body">

                                </div>

                                <div class="wav-login-or-register">
                                    If you are not automatically redirected, <a href="https://my.whataventure.com">click here.</a>
                                </div>

                            </div>

                        </div>

                    </div>
                    <!--/ END flipper  -->
                </div>
            </div>
        </div>
        <!--/ END row -->

    </section>
    <!-- END Template Container -->
</section>
<!--/ END Template Main -->
<script type="text/javascript">
    window.location = "https://my.whataventure.com";
</script>
